@import '../../sassStyles/mixins';
@mixin navLinkStyle {
    color: #fff;
    font-family: var(--font-family);

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    
    margin: 0 1rem;
    cursor: pointer;

}

@mixin navButtonStyle {
    padding: 1rem 2rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;

    @include tablet {
        padding: 2rem 4rem;
    }

    @include mobile {
        padding: 2rem;
    }

    &-links {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_logo {
            margin-right: 2rem;
            img {
                width: 62.56px;
                height: 16.02px;
            }
        }

        &_container {
            display: flex;
            flex-direction: row;
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
            p {
                @include navLinkStyle;
            }
        }
    }

    &-sign {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mobile {
            display: none;
        }
        p {
            @include navLinkStyle;
        }

        button {
            @include navButtonStyle;
        }

    }

    &-menu {
        margin-left: 1rem;
        display: none;
        position: relative;
        @include mobile {
            display: flex;
        }
        @include tablet {
            display: flex;
        }
        svg {
            cursor: pointer;
        }

        &_container {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            text-align: end;
            color: #fff;
            background: var(--color-footer);
            padding: 2rem;
            position: absolute;
            font-weight: 500;
            top: 40px;
            right: 0;
            margin-top: 1rem;
            min-width: 210px;
            border-radius: 5px;
            box-shadow: 0 0 5 rgba(0,0,0,0.2);

            @include mobile {
                top: 20px;
            }
            p {
                // @include navLinkStyle;
                margin: 1rem 0;
            }

            button {
                @include navButtonStyle;
            }

            &-links-sign {
                display: none;
                @include mobile {
                    display: block;
                }
            }
        }
    }
}