@import "../../sassStyles/mixins";

@mixin fs16-lh24 {
    font-size: 16px;
    line-height: 24px;
}
.gpt3__header {
    display: flex;

    &-content {
        flex: 1;    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        margin-right: 5rem;
        h1 {
            font-family: var(--font-family);
            font-weight: 800;
            font-style: normal;
           
            font-size: 62px;
            line-height: 75px;
            /* or 121% */

            letter-spacing: -0.04em;
        }
        
        p {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;

            color: var(--color-text);
            margin-top: 1.5rem;
        }

        &__input {
            width: 100%;
            height: 73px;
            margin: 2rem 0 1rem;
            display: flex;
            input {
                flex: 2;
                width: 100%;
                min-height: 50px;
                background-color: #052D56;
                // background: var(--color-footer);
                font-family: var(--font-family);
                // border: 2px solid var(--color-footer);
                border: none;
                padding: 0 1rem;
                outline: none;
                font-size: 20px;
                line-height: 27px;
                border-radius: 5px 0px 0px 5px;
                color: #fff;
                @include mobile {
                    @include fs16-lh24;
                }
                
            }

            button {
                flex: 0.6;
                width: 100%;
                min-height: 50px;

                background: #FF4820;
                border-radius: 0px 5px 5px 0px;
                
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;

                color: #FFFFFF;
                outline: none;
                cursor: pointer;

                border: none;

                @include mobile {
                    @include fs16-lh24;
                }
            }
        }

        &__people {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2rem;

            img {
                width: 181.79px;
                height: 38px;
            }

            p {
                margin: 0 0 0 1rem;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 12px;
                line-height: 38px;
                /* identical to box height, or 313% */
                text-align: center;

                color: #FFFFFF;

                @include mobile {
                    margin: 0;
                }
            }

            @include mobile {
                flex-direction: column;
            }
        }

        @include mobile {
            margin: 0 0 3rem;
            
        }
    }

    &-image {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    //responsive
    @include tablet {
        flex-direction: column;
    }
    
    @include mobile {
        flex-direction: column;
        h1 {
            font-size: 48px;
            line-height: 60px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }

}